@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
}

body,
textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
  width: 100%;
  min-width: 1100px;
  overflow-y: hidden;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

p {
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
p,
span {
  box-sizing: border-box;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

::-webkit-scrollbar {
  width: 4px;
  /*滚动条宽度*/
  height: 6px;
  /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /*滚动条的背景区域的圆角*/
  background-color: #f1f1f1;
  /*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*滚动条的圆角*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
  /*滚动条的背景颜色*/
}
