//main
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    // min-height: 600px;
    background-color: #eee;
    overflow: hidden;
}

// 常用样式 --start
.oto {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
